<% layout("layouts/boilerplate") %>
<div class="error">
<div class="row mt-4 mb-5">
    <div class="alert alert-danger col-6 offset-3" role="alert">
        <p class="alert-heading"><%= message %></p>
        </div>
    </div>
</div>
